<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 注意: 该文件放在类路径下 -->
    <!-- xml方式声明bean -->
    <bean id="user" class="com.csx.spring.ioc.xml.User" />
</beans>